
.background-brand {
    background-color: $color-brand;
}

.background-white-alpha-9 {
    background-color: $color-white-alpha-9;
}

.background-action {
    background-color: $color-action;
}


.background-error{
    background-color: $color-error;
}
