/**
* Colors
*/

$color-brand: #3366CC;

// ls = light surface, ds = dark surface

$color-ls-text-primary: black;

$color-ls-text-secondary: rgba(0, 0, 0, 0.91);

$color-ds-text-primary: white;

$color-ds-text-secondary: rgba(255, 255, 255, 0.91);
